#about-view {
  #header {
    .background {
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      padding: 10rem 0;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('assets/CarouselPic/pic24.jpeg') no-repeat center/cover;
        z-index: -1;
      }
    }
  }
  #section01 {
    background-color: #20241a;
    color: white;
    padding-top: 9rem;
    padding-bottom: 7rem;
    .container {
      .row {
        .text-1 {
          .hr {
            width: 2rem;
            height: 3px;
            background-color: #E27638;
            border: none;
          }
        }
        .text-2 {
          border: 1px solid rgba(255, 255, 255, 0.5);
          .q-img {
            transform: translate(-10%, -10%);
          }
        }
        .text {
          line-height: 3rem;
        }
      }
    }
  }
  #section02 {
    background: #f4ebe4;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .q-card {
      .text {
        line-height: 1.5rem;
      }
    }
  }
  #section03 {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background: #20241a;
    color: white;
    .text {
      line-height: 3rem;
    }
  }
  #section04 {
    background-color: #f4ebe4;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .container {
      .col-md-6 {
        order: 2;
        .q-img {
          -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
        }
      }
      .col-md-5 {
        .text-h6 {
          line-height: 3rem;
        }
        .q-btn {
          font-size: 1.2rem;
          &:hover {
            background: #20241a !important;
            color: white;
            transition: .2s;
          }
        }
      }
    }
  }
  #section05 {
    iframe {
      height: 400px;
    }
  }
}