#all-product {
  #header {
    .background {
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      padding: 10rem 0;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('assets/CarouselPic/pic36.jpeg') no-repeat center/cover;
        z-index: -1;
      }
    }
  }
  #section01 {
    background-color: #20241a;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .q-card {
      .q-tabs__content {
        padding: 15px 0;
        background-color: #f4ebe4;
        .q-tab__label {
          font-size: 1rem;
        }
      }
      .q-tab-panels {
        background-color: #f4ebe4;
      }
    }
  }
}