#contact-view {
  #header {
    .background {
      position: relative;
      background: rgba(0, 0, 0, 0.5);
      padding: 10rem 0;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('assets/CarouselPic/pic23.jpeg') no-repeat 90% /cover;
        z-index: -1;
      }
    }
  }
  #section01 {
    background: #20241a;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .container {
      padding: 2rem;
      background: #f4ebe4;
      border-radius: 8px;
    }
    .q-form {
      border-radius: 5px;
    }
    .info {
      a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        .q-icon:hover {
          color: #E27638;
        }
      }
    }
  }
}