#main-layout{
    .logo{
        transform: scale(2.5);
        padding-left: 1.5%;
        margin-bottom: 0.5%;
    }
    .router-link-active{
        color: white;
        text-decoration: none;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        padding-left: 5.5%;
        padding-top: 15%;
    }
    .langButton{
        display: none;
    }

    .GL{
        &__select-GL__menu-link{
            .default-type{
                visibility: hidden;
            }

            &:hover{
                background: #0366d6;
                color: white;
    
                .q-item__section--side{
                    color: white;
                }
                .default-type{
                    visibility: visible;
                }
            }
        }
        
        &__toolbar-link{
            padding-top: 5px;
            .q-btn__content{
                color: white;
                text-decoration: none;
                font-family: 'Alegreya Sans SC', sans-serif;
                font-size: 1.2rem;
                font-weight: 500;

                // &:hover{
                //     opacity: 0.7;
                // }
            }
            
        }
        &__menu-link:hover{
            background: #0366d6;
            color: white;
        }
    
    }
    .fit{
        background: $primary-lighter;
        font-size: 1.5rem;
        color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
    }

    .q-page-container{
        background: $primary;
    }


    //**************************** footer ******************************
    footer{
        // border: 2px solid red;
        height: 200px;
        background: $primary-lighter;
        padding: 1% 10%;
        
        .footer{
            // border: 2px solid yellow;
            justify-content: space-between;
            align-items: baseline;
            font-family: 'Ubuntu', sans-serif;

            .footerCol{
                padding-left: 5%;
                // align-items: baseline;
            }

            .footerLogo{
                // border: 2px solid yellow;
                
                .q-icon{
                    padding-bottom: 10%;
                    margin-left: 0;
                }
    
                span{
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: white;
                    margin-left: 1.5%;
                }
            }
    
            .footerIcons{
                // border: 2px solid yellow;
                font-size: 1.75rem;
                padding-top: 3%;
                padding-left: 3%;
                
                i{
                    color: white;
                    margin-right: 3%;
                }
            }

            .contact{
                p{
                    i{
                        margin-right: 1%;
                    }
                }

                & p:nth-child(1){
                    font-size: 1.25rem;
                    font-weight: 500;
                }

            }



        }


    }

}


//-------------------------------------M1 1440px-----------------------------------------
@media(max-width:1500px){
    #main-layout{
        .logo{
            transform: scale(2.25);
            padding-left: 25px;
            margin-bottom: 12px;
        }
        .router-link-active{
            color: white;
            text-decoration: none;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 1.75rem;
            font-weight: 700;
            padding-left: 20px;
        }
        .GL{
            &__toolbar-link{
                .q-btn__content{
                    color: white;
                    text-decoration: none;
                    font-family: 'Alegreya Sans SC', sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }

        footer{
            height: 200px;
            padding: 1.5% 2%;

            .footer{
                .footerCol{
                    padding-left: 5%;

                }

                .footerLogo{
                    .q-icon{
                        padding-bottom: 15%;
                    }
                }

                .footerIcons{
                    padding-left: 7%;
                }
            }
        }
    }
}


//-------------------------------------iPad 1024px-------------------------------
@media(max-width:1024px){
    #main-layout{
        .logo{
            display: none;
        }
        .router-link-active{
            padding-left: 0px;
        }


        footer{
            height: 150px;
            padding: 3% 5%;

            .footer{
                padding: 0;
                justify-content: center;

                .footerCol{
                    width: 30%;
                    padding-left: 2.5%;
                    margin-right: 5%;
                }
    
                .footerLogo{
                    // border: 2px solid yellow;
                    
                    .q-icon{
                        padding-bottom: 10%;
                        margin-left: 0;
                    }
        
                    span{
                        font-family: 'Alegreya Sans SC', sans-serif;
                        font-weight: 700;
                        font-size: 1.75rem;
                        color: white;
                        margin-left: 1.5%;
                    }
                }

                .footerIcons{
                    font-size: 1.5rem;
                }
                .contact{

                    p{
                        font-size: .5rem;
    
                        i{
                            margin-right: 1%;
                        }
                    }
    
                    & p:nth-child(1){
                        font-size: 1rem;
                        font-weight: 500;
                    }
    
                }

                .copyRight{
                    margin-right: 0;
                    font-size: .5rem;
                }

            }
        }
    }
}
//-----------------------------------iPhone 600px--------------------------------
@media(max-width:600px){
    #main-layout{
        .menu{
            transform: scale(0.75);
        }
        .logo{
            display: none;
        }
        .router-link-active{
            padding-left: 0px;
            font-size: 1.2rem;
        }
        .admin{
            display: none;
        }
        .langButton{
            display: block;
            width: 20%;
            background: $primary;
        }
        .language{
            display: none;
        }

        footer{
            height: 200px;
            padding: 5% 10%;


            .smallFooter{
                text-align: center;

                .footerIcons{
                    padding-top: 0;
                    font-size: 1.25rem;
                }

                .footerLogo{
                    padding-right: 3%;
                    .q-icon{
                        padding-bottom: 5%;
                    }
                    font-size: 1.5rem;

                }
                .contact{
                    padding-top: 5%;
                    font-size: .5rem;

                }

                .copyRight{
                    padding-top: 6%;
                    p{
                        font-size: .5rem;
                        margin: 0;

                    }
                }
            }


        }

    }
}