$v-image-input-width: 200px !default;
$v-image-input-height: 200px !default;
@import "node_modules/vue3-img-input/src/styles/style.scss";

.swal2-container {
  z-index: 7000;
}
// // app global css in SCSS form
// // app global css in SCSS form
// #myVideo {
//   width: 100%;
//   top: 0;
//   position: relative;
// }
// .bg {
//   background: rgba(0, 0, 0, 0);
// }
// .bg::before {
//   width: 160px;
//   height: 82px;
//   content: "";
//   background: $primary;
//   border-radius: 41px 0 0 41px;
//   position: absolute;
//   top: 0;
//   right: 0;
// }
// .bg-01 {
//   background: rgba(0, 0, 0, 0);
// }
// .bg-01::before {
//   width: 150px;
//   height: 82px;
//   content: "";
//   background: $primary;
//   border-radius: 41px 0 0 41px;
//   position: absolute;
//   top: 0;
//   right: 0;
// }
// #y-bg {
//   position: absolute;
//   top: 55%;
// }
// .q-item {
//   min-height: 30px;
//   padding: 0;
// }
// #card {
//   top: -400px;
//   position: relative;
//   z-index: 999;
// }
// .btn01 {
//   position: absolute;
// }

// .q-btn--round .q-btn__wrapper {
//   min-width: 50px;
//   min-height: 50px;
//   padding: 0;
// }
// #signup .q-card {
//   background: rgba(255, 255, 255, 0.5);
//   border-radius: 30px;
//   padding: 25px;
// }
// .signup .q-form {
//   padding: 25px;
// }
// .headshot {
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
// }
// .q-tabs__content--align-center {
//   justify-content: flex-start;
// }
// .group-icon {
//   color: $secondary;
// }
// #ybtn {
//   width: 100%;
//   border-radius: 5px 5px 45px 5px;
// }
// .q-card__actions {
//   text-align: center;
//   position: relative;
// }
// .my-card {
//   border-radius: 50px 0 50px 0;
//   border: 2px solid $primary;
//   position: relative;
// }
// .my-card01 {
//   border-radius: 50px 0 50px 0;
//   border: 2px solid $primary;
//   position: relative;
//   margin-bottom: 30px;
// }
// .my-card02 {
//   border-radius: 50px 0 50px 0;
//   position: relative;
//   margin-bottom: 30px;
//   background: rgba(255, 255, 255, 0.5);
//   backdrop-filter: blur(5px);
// }
// #scene {
//   position: relative;
//   top: -320px;
//   width: 1980px;
// }
// .mountion-bg {
//   position: relative;
//   top: -180px;
//   width: 1980px;
//   z-index: 999;
// }
// .q-btn__wrapper {
//   min-height: 50px;
// }
// p {
//   margin: 0;
// }
// .q-page {
//   overflow: hidden;
// }
// // .q-page-container {
// //   padding: 0 !important;
// // }
// .form {
//   width: 76%;
//   z-index: 999;
//   position: relative;
// }
// .cc {
//   top: -100px;
//   position: relative;
// }
// .avatar {
//   width: 140px;
// }
// .group-area .q-card__section--vert {
//   padding: 3px;
// }
// .my-card .q-card__section--vert {
//   padding: 10px 10px 0 10px;
// }
// .group-area .q-item__section--main ~ .q-item__section--side {
//   padding-left: 80%;
//   padding-right: 16px !important;
//   position: absolute;
// }
// .menu-right {
//   height: 100%;
//   display: block;
// }
// .q-fab {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   z-index: 99999;
// }
// .addgroup .q-table td {
//   border-style: none;
//   border-width: 0;
//   padding: 0px 16px;
// }
// .content-bg {
//   background: url(../assets/marita-kavelashvili-ugnrXk1129g-unsplash.jpg)
//     no-repeat;
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   background-position: top 40% left 50%;
//   top: 0;
//   z-index: -9999;
// }
// .content-bg::after {
//   content: "";
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   background: linear-gradient(
//     rgba(255, 255, 255, 1) 60%,
//     rgba(255, 255, 255, 0.3) 90%
//   );
//   z-index: 999;
// }
// .top-mt {
//   padding-top: 180px;
// }
// .top-mt-150 {
//   margin-top: 150px;
// }
// .margin-15 {
//   margin-left: 12%;
//   margin-right: 12%;
// }
// .left-layout {
//   height: 100vh;
//   border-radius: 0 50px 50px 0;
//   position: fixed;
//   width: 250px;
//   display: none;
// }

// .q-img__content > div {
//   background: linear-gradient(
//     rgba(255, 255, 255, 0.4) 30%,
//     rgba(255, 255, 255, 1) 90%
//   );
//   color: #000;
// }
// .ellipsis {
//   overflow: auto;
// }
// .q-toolbar__title {
//   min-width: 210px;
//   font-size: 21px;
//   overflow: hidden;
// }
// .q-toolbar {
//   padding: 0;
// }
// .menu-list {
//   visibility: hidden;
//   color: white;
// }
// .bg-000 {
//   width: 100%;
//   height: 180px;
//   position: absolute;
//   top: -50px;
//   z-index: -5;
//   background: linear-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0));
// }
// .bg-0000 {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: -50px;
//   z-index: 1;
//   background: linear-gradient(rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0));
// }
// .bg-fff {
//   width: 100%;
//   height: 130px;
//   position: absolute;
//   top: -50px;
//   z-index: -1;
//   background-color: #fff;
//   display: block;
// }
// .menu-list .q-router-link--active {
//   color: #fff;
//   font-weight: bolder;
// }
// .menu-list01 {
//   visibility: hidden;
//   display: none;
// }
// .menu-list01 .q-router-link--active {
//   color: #fff;
//   font-weight: bolder;
// }
// .avatar01 {
//   display: flex;
//   justify-content: flex-end;
//   width: 100%;
// }
// .q-timeline {
//   margin-top: 0;
//   margin-bottom: 0;
// }
// .q-timeline__title {
//   margin-bottom: 5px;
// }
// .q-timeline__content {
//   padding-bottom: 10px;
// }
// .q-btn__wrapper {
//   min-height: 20px;
// }
// .box01 {
//   width: 400px;
//   border-top: 200px solid red;
//   border-right: 100px solid transparent;
// }
// .user-name .q-item.q-router-link--active,
// .q-item--active {
//   color: #000;
// }
// .q-pt-10 {
//   padding-top: 14px;
// }

// @media (min-width: 768px) {
//   .bg::before {
//     width: 20%;
//   }
//   .bg-01::before {
//     width: 430px;
//   }
//   .avatar {
//     width: 18%;
//   }
//   .toolbar {
//     visibility: hidden;
//   }
//   .form-text {
//     font-size: 64px;
//     line-height: 70px;
//   }
//   .menu-list {
//     width: 80%;
//     right: 100px;
//     visibility: visible;
//     display: block;
//     justify-content: flex-end;
//     display: flex;
//   }
//   .menu-list .q-item,
//   .menu-list01 .q-item {
//     padding: 6px;
//   }
//   .menu-right {
//     display: none;
//   }
//   .menu-list01 {
//     right: 100px;
//     visibility: visible;
//     display: block;
//     justify-content: flex-end;
//     display: flex;
//   }
//   .avatar01 {
//     width: 150px;
//   }
//   .bg-fff {
//     display: none;
//   }
//   .q-drawer-container {
//     .q-drawer {
//       background: rgba(0, 0, 0, 0);
//       z-index: 999999;
//     }
//   }
//   .left-layout {
//     display: block;
//   }
//   .left-layout-lg {
//     margin-left: 22%;
//   }
//   #mountion-bg {
//     top: -200px;
//     width: 1500px;
//   }
//   #myVideo {
//     top: -50px;
//   }
//   #card {
//     top: -400px;
//     position: relative;
//     z-index: 999;
//   }
//   #scene {
//     position: relative;
//     top: -440px;
//     width: 1980px;
//   }
// }
// @media (min-width: 1200px) {
//   .bg::before {
//     width: 12%;
//   }
//   .bg-01::before {
//     width: 460px;
//   }
//   .avatar {
//     width: 11%;
//   }
//   .form-text {
//     font-size: 80px;
//     line-height: 90px;
//   }
//   .left-layout-lg {
//     margin-left: 10%;
//   }
//   .menu-list .q-item,
//   .menu-list01 .q-item {
//     padding: 10px;
//   }
//   #mountion-bg {
//     top: -300px;
//     width: 2000px;
//     position: relative;
//   }
//   #card {
//     top: -500px;
//   }
// }
