@import './variables';

@import './HomeView.scss';
@import './LoginView.scss';
@import './AboutView.scss';
@import './AllProduct.scss';
@import './AllSeat.scss';
@import './OneProduct.scss';
@import './OneSeat.scss';
@import './CardProduct.scss';
@import './CardSeat.scss';
@import './OrdersView.scss';
@import './BookingsView.scss';

@import './FrontLayout.scss';

@import './ProductCard.scss';

@import "node_modules/vue3-img-input/src/styles/style.scss";
$v-image-input-width: 200px !default;
$v-image-input-height: 200px !default;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.swal2-container {
  z-index: 7000 !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}





