#front-layout {
  #navbar {
    position: fixed;
    height: 70px;
    transition: background-color 0.3s ease-in-out;
    color: white;
    .container {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      .q-toolbar {
        height: 70px;
        img {
          max-width: 150px;
        }
        .toolbar-left-link {
          .q-btn {
            font-size: 1.2rem;
            &:hover {
              color: #E27638;
            }
          }
        }
        .toolbar-right-link {
          .q-btn {
            font-size: 1.2rem;
            &:hover {
              color: #E27638;
            }
          }
        }
        .q-toolbar__title {
          text-align: left;
        }
      }
    }
  }
  .q-page-container {
    padding-top: 0 !important;
  }
}
.black {
  background-color: black;
}
.transparent {
  background-color: transparent;
}

@media (min-width: 1024px) {
  #front-layout {
    #navbar {
      .container {
        .q-toolbar {
          .q-toolbar__title {
            text-align: center;
          }
        }
      }
    }
  }
}