#home-view {
  #section01 {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    .bg-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: luminosity;
      background: rgba(0, 0, 0, 0.5);
      z-index: -1;
    }
    .container {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      color: white;
      .q-icon {
        font-size: 1.2rem;
      }
      .col {
        display: block;
        cursor: pointer;
        .q-icon:hover {
          color: orange;
        }
      }
    }
  }
  #section02 {
    background: #e1d0b6;
    .q-card {
      margin: 150px;
      background: #e1d0b6;
    }
  }
  #section03 {
    .q-parallax {
      img {
        width: 1100px;
        top: -110%;
        left: 50%;
      }
    }
    .q-card:nth-child(1) {
      height: 50%;
      text-align: center;
      background: #e1d0b6;
      .q-btn {
        &:hover {
          background: #20241a !important;
          color: white;
        }
      }
    }
    .q-card:nth-child(2) {
      height: 50%;
      text-align: center;
      background: #20241a;
      color: white;
      .q-btn {
        &:hover {
          background: #e1d0b6 !important;
          color: black;
        }
      }
    }
  }
  #section04 {
    background: #20241a;
    .q-card {
      color: white;
      background: #20241a;
    }
  }
  #section05 {
    background: #e1d0b6;
    .container {
      height: 1200px;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      .row {
        padding-top: 2rem;
      }
      .column {
        height: 1200px;
        margin-bottom: 5rem;
        .cell {
          padding: 0 5px;
          margin-bottom: 10px;
          width: 33.333%;
        }
        .flex-break {
          flex: 1 0 100% !important;
          width: 0 !important;
        }
      }
    }
  }
}